@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif ;
}

main .wrap{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;

}

html,
body,
main {
  position: relative;
  height: 100%;
  
  
}


header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width:100%;
 
}

.swiper {
  width: 80%;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 80px;
  position: relative;
  --swiper-navigation-color:rgb(0, 174, 142);
}

.swiper-slide {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*メニュー------------------*/
header{
    background: #EEE;
    position: relative;
}

header h1{
    text-align: left;
    padding: 1rem;
}

header h1 a{
    
    color: #333;
 }

nav ul{
    padding-bottom: 1rem;
    text-align: left;
}

nav ul li{
    /*display: inline-block;*/
    margin: 0 10px;
    padding: 10px 0;
}

nav ul li a{
    color: #EEE;
   
    
}
nav ul li a:hover {
  /* 任意のプロパティ設定 */
   
  color:rgb(0, 174, 142);

  transition: color 0.3s; /* 色の変化を滑らかにする */
}

#navBtn {
  display: none;
}

.open {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 2px;
}

/*humburger button*/

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #333;
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/*close button*/
#navBtn:checked + .open {
  background: #555;
}

#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}


/*----------------------------*/

footer{
    background: #333;
    color: #FFF;
    text-align: center;
    padding: 1rem;
    width: 100%;
    
    
    
}

body{
    height: 100%;
   

}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  
}



main{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding:1rem;
  padding-top: 0px;
  flex-grow: 1;
    
    
}

.text{
  text-align: center;
  margin-top: 17px;
  margin-bottom: 20px;
}


/*------------------------*/

/*ハンバーガーメニュー-------*/

nav {
  /*display: none;*/
  height: 100vh;
  width: 300px;
  position: absolute;
  top: 0;
  right: -300px;
  z-index: 50;
  background-color: rgba(0, 0, 0, .5);
  transition: transform .5s;
}

#navBtn:checked ~ nav {
  display: block;
  transform: translateX(-300px);
}
/*------------------------*/

/*レスポンシブデザイン--------*/


@media all and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

/*コンピュータ用*/
@media all and (min-width: 1024px) {

#navBtn:checked + .open span,
#navBtn:checked + .open::before,
#navBtn:checked + .open::after {
  border-bottom-color: #EEE;
}



nav {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    background-color: transparent;
  }

  nav ul li {
    display: inline-block;
  }

  
  #navBtn,
  .open {
    display: none;
  }


  main {
    grid-template-columns: 1fr 1fr;
  }

  .sec01 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .sec02 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .sec03 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav ul li a {
    color: #333;
  }

}



/*-------------------*/